.app-header {
  padding: 1rem 0;
  width: 100%;
  background: var(--fg-color);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
}

.app__title {
}

.back-button {
  border: none;
  color: var(--primary);
  align-items: center;
  height: auto;
  background: none;
}
