:root {
  --bg-color: black;
  --fg-color: white;
  --mid-color: #1c1c1e;
  --light-gray: #9898a0;
  --orange: #ff5613;
  --blue: #63e6e1;
  --primary: #0883fe;
}

@font-face {
    font-family: 'SFProRegular';
    src: url('assets/fonts/sf_pro_regular.otf') format('opentype'); 
}

@font-face {
    font-family: 'SFProSemiBold';
    src: url('assets/fonts/sf_pro_semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SFProBold';
    src: url('assets/fonts/sf_pro_bold.otf') format('opentype');
}

.app {
  font-family: 'SFProSemiBold', sans-serif;
  background-image: conic-gradient(from 0deg at 0% 25%, #2f7079, #256e3d, #3c3a25 180deg);
  background-attachment: fixed;
  height: 100vh;
  color: var(--fg-color);
  overflow: hidden;
}

.app__content {
  background-image: linear-gradient(to top, var(--bg-color) 70%, transparent);
  padding: 0 1.5rem;
  height: 100%;
  overflow: auto;
}

.app__header {
  padding-top: 23%;
}

.d-flex {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.card {
  background-color: var(--mid-color); 
  border-radius: 1rem;
  padding: 0.9rem;
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom:0.5rem;
}

.card__title {
  font-size: 12px;
}

.daylimit {
  font-size: 2rem;
}

.primary {
  color: var(--orange);
}

.secondary {
  color: var(--blue);
}

.text--big {
  vertical-align: middle;
}

.text--secondary {
  color: var(--light-gray);
  font-size: 12px;
  vertical-align: middle;
}

.app__footer {
  height: 90px;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(50px);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__icon {
  width: 32px;
  color: red;
}

.footer__button {
  width: 64px;
  height: 64px;
  font-size: 12px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
}

.footer__button.active {
  color: var(--primary);
}
